body{
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
  margin: 0;
}
.logo-tittle h3{
    color: #4E47FF;
    font-size: 20px;
}
.header-section{
    background-image: url("Assets/Hero-bg.png");
    max-height: 680px;
    max-width: 100%;
}
.nav-section{
    display: flex;
    justify-content: space-between;
    margin: 0px 150px;
    padding-top: 30px;
}
.signup-area{
    margin-top: 12px;
}
.btn-primary{
    background-color: #4E47FF;
    padding: 8px 15px;
    color: white;
    border: none;
    border-radius: 7px;
    font-size: 13px;
    font-weight: 600;
}
.btn-primary:hover{
    background-color: lightslategray;
    cursor: pointer;
}
.search-area{
    border-radius: 8px;
    border: 1px solid lightgrey;
    padding: 8px 15px;
}
.search-area:hover{
    background-color: lightgray;
}
.head-tittle-area{
    padding-left: 20px;
    padding-top: 190px;
    padding-bottom: 120px;

}
.tittle-description{
    text-align: center;
    font-size: 40px;
}
.name-decoration{
    color: white;
    text-shadow: 0px 0px 10px blue,
    0px 0px 20px blue,
    0px 0px 40px blue,
    0px 0px 80px blue;
}
.action-area{
    display: flex;
    justify-content: space-evenly;
    margin-top: 100px;
}
.action-area-description{
    align-content: center;
}
h2{
    font-size: 27px;
}
.action-area-description p{
    color: grey;
    font-size: 15px;
    
}
.action-area-img img{
    border-radius: 25px;
    height: 95%;
    width: 310px;
}
.action-area-img img:hover{
    transform: rotateY(360deg);
    transition: 2s;
}
.user-info-area{
    margin-top: 100px;
    background-color: #bab9f3;
    padding-top: 35px;
    padding-bottom: 55px;
    margin-left: 180px;
    margin-right: 126px;
    border-radius: 20px;
}
.user-info-area h3{
    padding-bottom: 20px;
    text-align: center;
    font-size: 25px;
}
.user-details{
    display: flex;
    justify-content: space-evenly;    
}
.user-info{
    color: #4E47FF;
    font-size: 50px;
    font-weight: 700;
}
.user-info p{
    font-size: 15px;
}
.user-review-section{
    margin-top: 100px;
    margin-left: 180px;
    
}
.user-review-area{
    display: flex;
    gap: 40px;
}
.user-comments{
    box-shadow: 1px 1px 20px lightgrey;
    padding: 30px;
    border-radius: 12px;
}
.user-review-section h1{
   margin-left: 430px;
   margin-top: 50px;
   margin-bottom: 50px;
   font-size: 35px;
   font-weight: 600;
}
.user-img{
    display: flex;
    gap: 20px;
    padding-top: 10px;
    padding-bottom: 20px;
}
.user-img img{
    border-radius: 50%;
}
.user-comments:hover{
    transform: scale(1.2);
    transition: 1.2s;
}
.personal-info-section{
    display: flex;
    justify-content: space-evenly;
    gap: 350px;
    margin-left: 150px;
    margin-right: 105px;
    margin-top: 130px;
}
.personal-info-form{
    padding-top: 20px;
    padding-bottom: 20px;
}
.label-tittle{
    padding-top: 12px;
    padding-bottom: 15px;
}
.info-area{
    border-radius: 6px;
    border: 1px solid lightgrey;
    padding: 8px 68px;
}
.btn-secondary{
    background-color: #4E47FF;
    padding: 10px 115px;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 13px;
    font-weight: 600;
}
.btn-secondary:hover{
    background-color: black;
}
.info-area:hover{
    background-color: lightgrey;
}
.personal-info-area h1{
    font-size: 90px;
    margin-top: 90px;
}